name: Deploy

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env: 
      RACK_ENV: test
    steps:
      - uses: actions/checkout@v1    
      - uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true
      - run: bundle exec rubocop        
      - run: bundle exec rspec
      - run: git push -f https://heroku:${{ secrets.HEROKU_API_TOKEN }}@git.heroku.com/${{ secrets.HEROKU_APP }}.git origin/main:main  
        
        
        
        
        
        