name: Deploy

on: 
  push:
    branches:
      - main

jobs:
  deploy:
   runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    
    - name: 'Setup Ruby'
      uses: ruby/setup-ruby@v1
      with:
        # runs 'bundle install' and caches installed gems automatically
        bundler-cache: true

    - name: Run rubocop
      run: |
        bundle exec rubocop
    - name: Run Rspec
      env:
        RACK_ENV: test
      run: |
        bundle exec rspec
    - name: Push to Heroku
      run: git push -f https://heroku:${{ secrets.HEROKU_API_TOKEN }}@git.heroku.com/${{ secrets.HEROKU_APP }}.git origin/main:main