name: RSpec

on: [push]

jobs:
  rspec:
    runs-on: ubuntu-latest
    services:
<<<<<<< HEAD
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env: 
          POSTGRES_DB: sumup_test
          # required
          POSTGRES_PASSWORD: postgres
          # optional (defaults to `5432`)
          POSTGRES_PORT: 5432
          # optional (defaults to `postgres`)
          POSTGRES_USER: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
=======
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: sumup
          POSTGRES_PASSWORD: ''
          POSTGRES_DB: sumup_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
>>>>>>> main
    env: 
      RACK_ENV: test
    steps:
      - uses: actions/checkout@v1    
      - uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true
      - run: bundle exec rubocop        
      - run: bundle exec rspec
      
        